body{
    background-image: linear-gradient(lightsalmon, white);
    color: black;
}

.form {
    display: grid;
    grid-template-columns: 1fr ;
    margin: 0 auto;
    max-width: 350px;        
    grid-gap: 20px;  
        
}

input[type=text], select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 18px;    
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

input[type=password], select {
    width: 90%;
    padding: 12px 20px;
    margin: 10px 18px;    
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

input[type=button] {
    width: 90%;
    background-color: lightpink;
    color: black;
    padding: 12px 20px;
    margin: 8px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
   
.img-principal{
    
    float: left;
    width: 100%;
    max-width: 200px;
    image-rendering: -webkit-optimize-contrast;
    margin-top: 0%;
     
}

h1{
    color: white
}