<html>
    <head>
        <title></title>
        <script src="../script/enderco.js"></script>    
        <link rel="stylesheet" type="text/css" href="../css/index.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../css/endereco.css" media="screen" />        
    </head>
    <body>
        <header>
            
            <a  href="../index.html">   <img  class="img-principal" src="../imagens/logo_floricultura.png.png"/></a>
        
            <ul>
                <li><a href="./home.html">Home</li></a>
            </ul>
        </header>
        <section class="form">
            <h1 style="text-align: center;">Registre um Endereço</h1>
            <div>
                <form>
                    <label for="apelido">Apelido</label>
                    <input type="text" id="apelido" apelido="apelido" placeholder="Apelido do endereço...">

                    <label for="cep">CEP</label>
                    <input type="text" id="cep" cep="cep" placeholder="CEP">

                    <label for="address">Endereço</label>
                    <input type="text" id="address" address="address" placeholder="Endereço">

                    <label for="numero">Número</label>
                    <input type="text" id="numero" numero="numero" placeholder="Numero">

                    <label for="Iname">Complemento</label>
                    <input type="text" id="complemento" complemento="complemento" placeholder="Complemento">
                
                    <input type="button" value="Casdatrar Endereço" onclick="cadastrarEndereco()">
                </form>
            </div>
            
        </section>
        
    </body>
</html>