<html>
    <head>
        <title></title>
        <script src="../script/login.js"></script>    
        <link rel="stylesheet" type="text/css" href="../css/index.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../css/login.css" media="screen" /> 
        
    </head>
    <body>
        <header>
            
            <a  href="../index.html">   <img  class="img-principal" src="../imagens/logo_floricultura.png.png"/></a>
        
            <ul>
                <li><a href="./login.html"><button>Login</button> </li></a>
                <li><a href="./cadastro.html"><button>Cadastro</button> </li></a>
            </ul>
        </header>
        <section  class="form">
            <h1 style="text-align: center;">Faça o seu Login</h1>
            <div>
                <form>
                    <label for="lname">Email</label>
                    <input type="text" id="email" name="email" placeholder="Email Cadastrado">

                    <label for="Iname">Senha</label>
                    <input type="password" id="password" password="senha" placeholder="Senha">

                    <input type="button" value="Entrar" onclick="Login()">

                </form>
            </div>
        </section>
    </body>
</html>